<launch>

    <node pkg="data_treatment" name="subscriber" type="subscriber" output="screen">
        <param name="~cols_resize" type= "int" value="640"/>
        <param name="~rows_resize" type= "int" value="480"/>
        <!-- </Para visualização dos poligonos com áreas pintadas> -->
        <!-- <param name="~R_channel" type= "int" value="255"/>
        <param name="~G_channel" type= "int" value="0"/>
        <param name="~B_channel" type= "int" value="0"/> -->
    </node>

    <node pkg="data_treatment" name="subscriber2" type="subscriber2" output="screen">
        <remap from="lane_detector/processed" to="lane_detector2/result" />
        <remap from="lane_detector/lane" to="lane_detector2/lane" />
        <remap from="data_treatment/initial" to="data_treatment2/initial"/>
        <remap from="data_treatment/final" to="data_treatment2/final"/>
        <param name="~cols_resize" type= "int" value="640"/>
        <param name="~rows_resize" type= "int" value="480"/>
        <!-- <param name="~R_channel" type= "int" value="0"/>
        <param name="~G_channel" type= "int" value="0"/>
        <param name="~B_channel" type= "int" value="255"/> -->
    </node>
    <include file="$(find advanced_lane_detection)/launch/advanced_lane_detection.launch" />

    <node pkg="data_treatment" name="junction_data" type="junction_data" output="screen">
        <remap from="~camera" to="world"/>
        <param name="~cols_img_big" type= "double" value="964"/>
        <param name="~cols_img_small" type= "double" value="640"/>
        <param name="~rows_img_small" type= "double" value="480"/>
        <param name="~kernel_size" type= "int" value="25"/>
    </node>

</launch>




