<launch>
<arg name = "pathToRosbag"  default = "/media/OAtlasVaiAFeira_50kmh.bag" />
<remap from = "/top_camera_right/image_raw" to = "/top_right_camera/image_raw" />
<remap from = "/top_camera_right_camera_nodelet_manager/bond" to = "/top_right_camera_nodelet_manager/bond"/>
<remap from = "/top_camera_right/camera_info" to = "/top_right_camera/camera_info"/>
<remap from = "/top_camera_right/image_rect_color" to = "/top_right_camera/image_rect_color"/>
<remap from = "/top_camera_left/image_raw" to = "/top_left_camera/image_raw" />
<remap from = "/top_camera_left_camera_nodelet_manager/bond" to = "/top_left_camera_nodelet_manager/bond"/>
<remap from = "/top_camera_left/camera_info" to = "/top_left_camera/camera_info"/>
<remap from = "/top_camera_left/image_rect_color" to = "/top_left_camera/image_rect_color"/>

<node pkg  = "rosbag"
      type = "play"
      name = "player"
      args = "$(arg pathToRosbag)"/>
</launch>