[Desktop Entry]
Encoding=UTF-8
Name=Atalho para rospy/Overview/Names and Node Information - ROS Wikiwiki.ros.org/rospy/.../Names%20and%20Node%20Information
Type=Link
URL=http://wiki.ros.org/rospy/Overview/Names%20and%20Node%20Information
Icon=text-html
